.form{
 margin-top: 100px;   
}
@media screen and(max-width:980px) {
    .form{
        margin-top: 100px; 
        padding-left: 200;  
        padding-right: 200px;
       }
    
}
.input{
    margin-bottom: 25px;
    font-size: 20px;
    width: 50px;
}